/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html{
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: black;
  color: white;
  z-index: 0;
}

#menuToggler{
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.25em;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
