/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html{
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: black;
  color: white;
  z-index: 0;
}

#menuToggler{
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.25em;
}

#menuToggler div{
  height: 20%;
  background: white;
  transition: transform 0.3s;
}

#menuToggler.open div:nth-child(1){
  transform: translateY(0.3em) rotate(45deg);
}

#menuToggler.open div:nth-child(3){
  transform: translateY(-0.5em) rotate(-45deg);
}

#menuToggler.open div:nth-child(2){
  transform: translate(5em);
}

header, main, section, article{
  overflow: auto;
}

a{color:  #ccf}
a:visited{color: #ccf}

header{
  font-size: 2em;
  min-height: 70vh;
  /* header background image goes here */
  background-image: url("house.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  box-sizing: border-box;
}

header h1{
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0.25em 1em;
}

header nav{
  font-weight: 100;
  letter-spacing: 0.25em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(100vw);
  transition: transform 0.4s;
  z-index: 15;
}

#menuToggler.open + header nav{
  transform: translate(0);
}

nav a{
  color: white;
  text-decoration: none;
}

header nav a{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em 0;
}

main{
  max-width: 500px;
  margin: 0 auto;
}

section, footer{
  padding: 0 1em;
}

section.text{
  background-color: white;
  color: black;
}

article{
  position:relative;
  z-index: 10;
}

article img{
  width: 100%;
  box-sizing: border-box;
}

article h2{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0.25em;
  background-color: rgba(0, 0, 0, 0.7);
}

main{
  max-width: none;
}

section.images{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.images article{
  width: 30%;
}

article h2{
  position: static;
  color: white;
}

section, article, footer{
  padding: 0;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
